body {
  padding-top: 30px;
}
.jumbotron {
  color: #2c3e50;
  background: #ecf0f1;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.google-slides-container {
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
}

.google-slides-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vmet {
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
}

.vmet iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.v-title {
  padding: 30px;
  text-align: center;
  border: 1px solid #eeeeee;
  background-color: #eeeeee;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.v-title-image {
  border: 1px solid #ddd;
  border-radius: 50%;
  float: left;
  padding: 5px;
}

/* .v-title-image {
} */
