body {
  padding-top: 20px;
  width: 100%;
  position: relative;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0 40px rgba(0, 0, 0, 0.3), -30px 0 40px rgba(0, 0, 0, 0.3);
}

.landing {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.landing h1 {
  font-size: 4rem;
}

.landing h2 {
  font-size: 2rem;
}

.google-slides-container {
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
}

.google-slides-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image {
  max-width: 900px;
  margin: auto;
  padding-top: 1rem;
}

.vmet {
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
}

.vmet iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vmetTitle {
  padding: 2rem;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.title-image {
  border: 1px solid black;
  border-radius: 50%;
  float: left;
  padding: 0.5px;
  margin-top: -26px;
  max-width: 100%;
  height: auto;
  background-color: black;
}

.navbar-text {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar-text a {
  text-decoration: none;
  color: black;
}


